<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.module.mavendemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26" />
    <application>
        <activity android:name=".SelectionScreen"></activity>
        <activity android:name=".Selected"></activity>
        <activity android:name=".BackScreen"></activity>
    </application>
</manifest>